{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "autobind-class-methods",
    "external-helpers",
    "transform-decorators-legacy"
  ]
}
